/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes like-scale {
  from {
    transform: scale(1);
    transform-origin: center;
  }
  to {
    transform: scale(1.25);
    transform-origin: center;
  }
}

.like-icon.is-liked .heart {
  animation: like-scale 0.3s 1 ease-in 0.1s;
}

@keyframes like-sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: like-sparks 0.3s 0.3s 1 ease-in;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.03s;
}

/* hover */

.like-icon:hover .core {
  fill: var(--heart-contour-color, #000);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color, #000);
  transition: fill 0.3s 0.05s;
}

/* active */

.like-icon:active .core {
  fill: var(--heart-color, #FF0000);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-color, #FF0000);
  transition: fill 0.3s 0.05s;
}

/* click */

.like-icon.is-liked .core {
  fill: var(--heart-color, #FF0000);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color, #FF0000);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color, #FF0000);
  transition: fill 0.3s 0.06s;
}
