/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--text-color, #000);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 1.17;
  background-image: var(--page-background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card-text-weight);
}

.section {
  border: 2px solid var(--text-color, #000);
  background-color: var(--bg-color, #fff);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-inline: auto;
  margin-block: 100px;
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  inline-size: var(--section-width);
}

.header__text {
  font-family: var(--accent-font), sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  background-color: var(--bg-color, #fff);
  inline-size: var(--section-width);
}

.card__title {
  padding: 5px 24px 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" 700;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__image {
  border-block: 2px solid var(--text-color, #000);
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
  align-self: end;
  max-block-size: 38px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color, #000);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bg-color, #fff);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--dark-color, #000);
  transition: 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--text-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::after {
  transform: scaleX(1);
}

.card__icon-button {
  display: flex;
  border: 2px solid transparent;
  padding: 0;
}

.like-icon {
  margin: auto;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--dark-color, #000);
  transition: 0.3s ease;
}

.card__like-button {
  max-block-size: 38px;
  inline-size: 130px;
}

.save-button {
  flex-direction: row;
  gap: 10px;
  margin-block-end: 103px;
  padding: 15px 18px;
  background-color: var(--bg-color, #fff);
}

.save-button svg {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  color: var(--bg-color, #fff);
  mix-blend-mode: difference;
} 

.card__image-container {
  position: relative;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font), sans-serif;
  text-shadow: 0 0 1px var(--text-stroke-color, #FF1493);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--text-stroke-color, #FF1493)) or (-webkit-text-stroke: 1px var(--text-stroke-color, #FF1493))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color, #FF1493);
    text-stroke: 1px var(--text-stroke-color, #FF1493);
  }
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog {
  width: clamp(341px, 21.0484rem + 1.1268vw, 352px);
  min-width: 341px;
  padding: 30px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--dark-color, #000);
}

.dialog svg {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.dialog__text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__close-button {
  inline-size: 100%;
  min-block-size: 38px;
}

.filter-hue-rotate {
  filter: hue-rotate(-45deg);
}

.filter-saturate {
  filter: saturate(125%);
}

.filter-grayscale {
  filter: grayscale(0.3);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-drop-shadow {
  filter: drop-shadow(0px 0px 10px var(--text-stroke-color, #FF1493));
}

.filter-mix {
  filter: hue-rotate(30deg) drop-shadow(0px 0px 10px var(--dark-color, #000));
}

 @media (max-width: 376px) {
  .header {
    inline-size: 100%;
  }
  .card {
    inline-size: 100%;
  }
  .card__label {
    top: 20px;
    right: 13px;
  }
  .save-button {
    flex-direction: column;
    gap: 8px;
    margin-block-end: 100px;
    padding: 15px 19px;
  }
  .save-button svg {
    width: 28px;
    height: 28px;
  }
  .dialog {
    padding: 30px 40px;
  }
}